@model MaerskLine.ViewModel.ScheduleCustomerOrderViewModel

@{
    ViewBag.Title = "OrderForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Form</h1>

<br/>

@if (TempData["OrderFailMsg"].Equals(true))
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>FAILED! The number of containers are insufficient.</strong>
    </div>
}

@using (Html.BeginForm("SaveOrder", "Order"))
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="success">
            <th>Schedule ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure DateTime</th>
            <th>Arrival DateTime</th>
            <th>Ship ID</th>
            <th>Ship Name</th>
            <th>Ship Containers Remaining</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>@Model.Schedule.ScheduleID</td>
            <td>@Model.Schedule.ScheduleOrigin</td>
            <td>@Model.Schedule.ScheduleDestination</td>
            <td>@Model.Schedule.ScheduleDepartureDateTime</td>
            <td>@Model.Schedule.ScheduleArrivalDateTime</td>
            <td>@Model.Schedule.ShipID</td>
            <td>@Model.Schedule.Ship.ShipName</td>
            <td>@Model.Schedule.Ship.ShipContainerNumRemaining</td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <table class="table table-bordered table-hover">
        <thead>
        <tr class="success">
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Agent</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td>@Model.Customer.CustID</td>
            <td>@Model.Customer.CustName</td>
            <td>@Model.Customer.CustPhoneNum</td>
            <td>@Model.Customer.CustEmail</td>
            <td>@Model.Customer.CustAgent</td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <div class="form-group">
        @Html.LabelFor(m => m.Container.ContainerItem)
        @Html.TextBoxFor(m => m.Container.ContainerItem, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Container.ContainerItem)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Container.ContainerNum)
        @Html.TextBoxFor(m => m.Container.ContainerNum, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Container.ContainerNum)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Container.ContainerWeight)
        @Html.TextBoxFor(m => m.Container.ContainerWeight, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Container.ContainerWeight)
    </div>

    @Html.HiddenFor(m => m.Schedule.ScheduleID)
    @Html.HiddenFor(m => m.Schedule.ScheduleOrigin)
    @Html.HiddenFor(m => m.Schedule.ScheduleDestination)
    @Html.HiddenFor(m => m.Schedule.ScheduleDepartureDateTime)
    @Html.HiddenFor(m => m.Schedule.ScheduleArrivalDateTime)

    @Html.HiddenFor(m => m.Schedule.ShipID)
    @Html.HiddenFor(m => m.Schedule.Ship.ShipName)
    @Html.HiddenFor(m => m.Schedule.Ship.ShipContainerNumRemaining)

    @Html.HiddenFor(m => m.Customer.CustID)
    @Html.HiddenFor(m => m.Customer.CustName)
    @Html.HiddenFor(m => m.Customer.CustPhoneNum)
    @Html.HiddenFor(m => m.Customer.CustEmail)
    @Html.HiddenFor(m => m.Customer.CustAgent)

    @Html.HiddenFor(m => m.Container.ContainerID)

    @Html.HiddenFor(m => m.Order.OrderID)

    <button type="submit" class="btn-primary">Save</button>
}

<hr/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}