@using System.Activities.Expressions
@model MaerskLine.Models.OrderScheduleViewModel

@{
    ViewBag.Title = "OrderForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Form</h1>

<br/>

@using (Html.BeginForm("SaveOrder", "Order"))
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Schedule ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure DateTime</th>
            <th>Arrival DateTime</th>
            <th>Ship Name</th>
            <th>Container Number</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.Schedule.ScheduleID</td>
                <td>@Model.Schedule.ScheduleOrigin</td>
                <td>@Model.Schedule.ScheduleDestination</td>
                <td>@Model.Schedule.ScheduleDepartureDateTime</td>
                <td>@Model.Schedule.ScheduleArrivalDateTime</td>
                <td>@Model.Schedule.Ship.ShipName</td>
                <td>@Model.Schedule.Ship.ShipContainerNumRemaining</td>
            </tr>
        </tbody>
    </table>

    @Html.HiddenFor(m => m.Schedule.ScheduleID)
    @Html.HiddenFor(m => m.Schedule.ScheduleOrigin)
    @Html.HiddenFor(m => m.Schedule.ScheduleDestination)
    @Html.HiddenFor(m => m.Schedule.ScheduleDepartureDateTime)
    @Html.HiddenFor(m => m.Schedule.ScheduleArrivalDateTime)

    @Html.HiddenFor(m => m.Schedule.ShipID)
    @Html.HiddenFor(m => m.Schedule.Ship.ShipName)
    @Html.HiddenFor(m => m.Schedule.Ship.ShipContainerNumRemaining)

    @Html.HiddenFor(m => m.Order.orderID)

    <div class="form-group">
        @Html.LabelFor(m => m.Order.orderCustomerName)
        @Html.TextBoxFor(m => m.Order.orderCustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.orderCustomerName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Order.orderDetail)
        @Html.TextBoxFor(m => m.Order.orderDetail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.orderDetail)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Order.orderContainerNum)
        @Html.TextBoxFor(m => m.Order.orderContainerNum, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.orderContainerNum)
    </div>

    <button type="submit" class="btn-primary">Save</button>
}

<hr/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}