@model MaerskLine.ViewModel.ScheduleCustomerOrderViewModel

@{
    ViewBag.Title = "SelectCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Select Customer</h1>

<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Schedule ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure DateTime</th>
            <th>Arrival DateTime</th>
            <th>Ship ID</th>
            <th>Ship Name</th>
            <th>Ship Containers Remaining</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Schedule.ScheduleID</td>
            <td>@Model.Schedule.ScheduleOrigin</td>
            <td>@Model.Schedule.ScheduleDestination</td>
            <td>@Model.Schedule.ScheduleDepartureDateTime</td>
            <td>@Model.Schedule.ScheduleArrivalDateTime</td>
            <td>@Model.Schedule.ShipID</td>
            <td>@Model.Schedule.Ship.ShipName</td>
            <td>@Model.Schedule.Ship.ShipContainerNumRemaining</td>
        </tr>
    </tbody>
</table>

<hr />

<table id="SelectCustomerTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Agent</th>
            <th>Select Customer</th>

        </tr>
    </thead>

    <tbody>
    @foreach (var cust in Model.Customers)
    {
        <tr>
            <td>@cust.CustID</td>
            <td>@cust.CustName</td>
            <td>@cust.CustPhoneNum</td>
            <td>@cust.CustEmail</td>
            <td>@cust.CustAgent</td>
            <td>@Html.ActionLink("Select", "OrderForm", "Order", new {custID = cust.CustID, scheduleID = Model.Schedule.ScheduleID}, null)</td>
        </tr>
    }
    </tbody>
</table>

<hr />

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#SelectCustomerTable').DataTable();
        });
    </script>
}
