@model MaerskLine.Models.Ship

@{
    ViewBag.Title = "ShipForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (TempData["AddShipSuccessMsg"] != null)
{
    @Html.Raw(TempData["AddShipSuccessMsg"])
}*@

<h1>Ship Form</h1>

<br />

@using (Html.BeginForm("SaveShip", "Ship"))
{
    @Html.HiddenFor(m => m.ShipID)

    <div class="form-group">
        @Html.LabelFor(m => m.ShipName)
        @Html.TextBoxFor(m => m.ShipName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ShipName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ShipLotNum)
        @Html.TextBoxFor(m => m.ShipLotNum, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ShipLotNum)
    </div>

    <div class="checkbox">
        @Html.CheckBoxFor(m => m.ShipAvailability)
        @Html.LabelFor(m => m.ShipAvailability)
    </div>

    <button type="submit" class="btn-primary">Save</button>
}

<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}