<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Maersk Line", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        @if (!User.Identity.IsAuthenticated)
        {
            <br/>
            <p>Please Login to Proceed! :)</p>
        }
        else
        {
            if (User.IsInRole("Admin"))
            {
                <h3>admin mou</h3>

                <div class="row">
                    <div class="col-md-4">
                        <h4>Manage Ship</h4>
                        <ul>
                            @*name,action,controller*@
                            <li>@Html.ActionLink("Add Ship", "ShipForm", "Ship")</li>
                            <li>@Html.ActionLink("View Ship", "ViewShip", "Ship")</li>
                            @*<li>@Html.ActionLink("DeleteShip", "DeleteShip", "Ship")</li>*@
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Manage Schedule</h4>
                        <ul>
                            @*name,action,controller*@
                            <li>@Html.ActionLink("Add Schedule", "ScheduleForm", "Schedule")</li>
                            <li>@Html.ActionLink("View Schedule", "ViewSchedule", "Schedule")</li>
                        </ul>
                    </div>
                </div>

            }
            else
            {
                <h1>not admin mou</h1>

                <div class="col-md-4">
                    <h4>Manage Customer</h4>
                    <ul>
                        @*name,action,controller*@
                        <li>@Html.ActionLink("Add Customer", "CustomerForm", "Customer")</li>
                        <li>@Html.ActionLink("View Customer", "ViewCustomer", "Customer")</li>
                        @*<li>@Html.ActionLink("DeleteShip", "DeleteShip", "Ship")</li>*@
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Manage Order</h4>
                    <ul>
                        @*name,action,controller*@
                        <li>@Html.ActionLink("Add Order", "SelectSchedule", "Order")</li>
                        <li>@Html.ActionLink("View Order", "ViewOrder", "Order")</li>
                        @*<li>@Html.ActionLink("DeleteShip", "DeleteShip", "Ship")</li>*@
                    </ul>
                </div>
            }
        }

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maersk Line</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
